@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<script type="text/javascript">
    alert("Hello");
    alert("Welcome to the application");
</script>
<h1>My second application </h1>
<h2>Welcome all for Git Training</h2>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
